// Colors
$primary-color  : #fcd504;
$secondary-color: #939598;

$black-color  : #111111;
$gray-color   : #9E9E9E;
$red-color    : #F44336;
$purple-color : #9C27B0;
$indigo-color : #3F51B5;
$blue-color   : #2196F3;
$teal-color   : #009688;
$green-color  : #4CAF50;
$yellow-color : #FFEB3B;
$amber-color  : #FFC107;
$orange-color : #FF9800;

// Transitions
$transition: all 250ms;

// Radius
$radius: 5px;